@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Models
<!DOCTYPE html>
<html>
<head>
    @{Site site = Current.Controller.Site;}
    <title>@Html.Raw((string)ViewData["PageTitle"])</title>
    @Html.Raw(AssetPackager.LinkCss("sitecss"))
    @RenderSection("additionalStyles", required: false)

    @Html.Raw(AssetPackager.ScriptSrc("jquery"))
    @Html.Raw(AssetPackager.ScriptSrc("master"))
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()

    <script type="text/javascript">
        DataExplorer.init({
            'User.id': @(Current.User.IsAnonymous ? "null" : Current.User.Id.ToString()),
            'User.guessedID': @(ViewData["GuessedUserId"] != null ? ViewData["GuessedUserId"] : "null"),
            'User.hideSchema': @((Current.User.HideSchema == true).ToString().ToLower()),
            'User.isAuthenticated': @((!Current.User.IsAnonymous).ToString().ToLower()),
            'Site.id': @(Current.Controller.Site != null ? Current.Controller.Site.Id.ToString() : "null"),
            'WhitelistEnabled': @(AppSettings.EnableWhiteList.ToString().ToLower())
        });
    </script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="topbar">
                <div id="hlinks">
                    <div id="hlinks-content">
                        @Html.Partial("LogInUserControl")
                        <span class="link-separator">|</span> <a href="/about">about</a> <span class="link-separator">
                            |</span> <a href="/faq">faq</a>
                    </div>
                    @if (site != null)
                    {
                        <span id="search">
                            <form method="get" action="/@site.Name.ToLower()/queries">
                            @Html.TextBox("q", "", new { id = "searchtext", tabindex = 1, maxlength = 80, size = 28, placeholder = "search" })
                            </form>
                        </span>
                    }
                </div>
            </div>
            <div class="clear">
            </div>
            <div id="title">
                <div id="hlogo">
                    <a href="/" title="Stack Exchange Data Explorer">
                        <img src="/Content/images/see_logo.png" alt="Stack Exchange Data Explorer" width="318"
                            height="91" />
                    </a>
                </div>
                @Html.Partial("Menu", ViewData["Menu"])
                <script type="text/javascript">
                    DataExplorer.initComposeButton({
                        IconUrl: '/icon/@Current.Controller.Site.Id',
                        LongName: '@Current.Controller.Site.LongName'
                    });
                </script>
            </div>
            <div class="clear">
            </div>
        </div>
        @Html.Partial("SubHeader",ViewData["Header"])
        @RenderBody()
        @RenderSection("SecondaryContent", required: false)
    </div>
    <div id="footer">

        @if (HttpContext.Current.IsDebuggingEnabled)
        { 
            <div style="margin-top:15px;color:#d99;">Debugging is enabled</div>
        }

    </div>
    <noscript>
        <div id="noscript-warning">
            Data Explorer works best with JavaScript enabled</div>
    </noscript>
    @Html.Raw(Current.GoogleAnalytics)
</body>
</html>
